$navbar-purple: #8064a2;

.bg-custom-color-gray {
  background-color: #ebedf0;
}
.clickable:hover {
  cursor: pointer;
  color: #0000ff;
}

//.sign-button {
//  &:active:hover {
//    background-color: $navbar-purple;
//    border: $navbar-purple;
//    border: 1px solid $navbar-purple;
//  }
//  &:hover {
//    background-color: $navbar-purple;
//    border: $navbar-purple;
//    border: 1px solid $navbar-purple;
//  }

//  background-color: white;
//  border: $navbar-purple;
//  border: 1px solid $navbar-purple;
//  color: $navbar-purple;
//}
